<h1>Curso Testes Unitários Angular - Jasmine / Karma</h1>
<!-- <app-fix-problems></app-fix-problems> -->
<!-- <app-debugger-tests></app-debugger-tests> -->
<!-- <app-matchers-jasmine></app-matchers-jasmine> -->
<!-- <app-mock-service></app-mock-service> -->
<!-- <app-stub></app-stub> -->
<!-- <app-spyon></app-spyon> -->
<!-- <app-request></app-request> -->
<!-- <app-asynchronous></app-asynchronous> -->
<!-- <app-fixture-detect-changes-component></app-fixture-detect-changes-component> -->
<!-- <app-handle-event></app-handle-event> -->
<!-- <app-fill-form></app-fill-form> -->
<!-- <app-input-output [user]="user" (userMessage)="getUserMessage($event)"></app-input-output> -->
<!-- <app-testing-pipes-directive-routes></app-testing-pipes-directive-routes> -->

<!-- <h1>Testando Guarda de rotas</h1>
<button (click)="goTo('dashboard')">Home</button> -->

<app-testing-routes></app-testing-routes>

<router-outlet></router-outlet>
